<!doctype html>
<html lang="en">
  <head>
    <title>RefreshJS</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <link href="/static/css/screen.css?v=1" media="screen, projection" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <h1>Refresh JS</h1>
    </header>

    <div class="doc">
      <form id="settings-form">
        <label>Watch path</label>
        <input id="path-inp" value="" />
        <button type="submit">Update</button>
      </form>
    </div>

    <footer>
      <script src="/static/js/jquery-1.8.3.min.js"></script>
      <script src="/static/js/settings.js"></script>
    </footer>
  </body>
</html>
