<!doctype html>
<html lang="en">
  <head>
    <title>RefreshJS</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <link href="/static/css/screen.css?v=1" media="screen, projection" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <h1 class="content-wrapper">RefreshJS</h1>
    </header>

    <div class="doc content-wrapper">
      <h3>Welcome to RefreshJS!</h3>
      <p>You need to do two things to get started -</p>
      <ol>
        <li>Enter path to your css folder of the repository to start watching.</li>
        <li>Enter domain name of your site to enable auto-refresh on
          that site. </li>
      </ol>

      <form id="settings-form" action="javascript:void(0);">
        <div class="cols">
          <div class="col-1">
            <h4>Start watching folders...</h4>
            <div class="form-field">
              <label>CSS Folder</label>
              <input id="css-folder" type="text" />
            </div>
            <div class="form-field">
              <label>Images Folder</label>
              <input id="img-folder" type="text" />
            </div>
            <div class="form-field">
              <label>JS Folder</label>
              <input id="js-folder" type="text" />
            </div>
            <div class="form-field">
              <label>HTML Folder</label>
              <input id="html-folder" type="text" />
            </div>
          </div>
          <div class="col-2">
            <h4>Enter domain names</h4>
            <div class="form-field">
              <label>Domain 1</label>
              <input id="domain-0" type="text" />
            </div>
            <div class="form-field">
              <label>Domain 2</label>
              <input id="domain-1" type="text" />
            </div>
          </div>
        </div>
        <div class="buttons-wrapper">
          <div class="form-field submit-container">
            <button>Save Settings</button>
          </div>
        </div>
        <!-- <label>Watch path</label> -->
        <!-- <input id="path-inp" value="" /> -->
        <!-- <button type="submit">Update</button> -->
      </form>
    </div>

    <footer>
      <script src="/static/js/jquery-1.8.3.min.js"></script>
      <script src="/static/js/settings.js"></script>
    </footer>
  </body>
</html>
